header {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header button {
  padding: 0.5rem 1rem;
}

.header-no-back {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.invisible {
  display: none;
}
