.game-preview {
  cursor: pointer;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #333;
}

.game-preview img {
  height: 60%;
  margin: 1rem 0;
}

.game-preview .game-init-btn {
  width: 100%;
  padding: 1rem;
  background: #333;
  text-align: center;
  border: 1px solid #333;
}
