.main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}
.main-cont h1,
.main-cont h2,
.main-cont .login-label,
.main-cont #user-input {
  margin-bottom: 1rem;
}

.main-cont #user-input {
  width: 80%;
  max-width: 350px;
  padding: 0.5rem 1rem;
  background: #82c91e;
  color: var(--white);
}

.main-cont .login-btn {
  padding: 0.3rem 2rem;
}
