@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
:root {
  --white: #f6f6f6;
  --yellow: #f5cf56;
  --red: #cc2027;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html,
#app {
  font-family: 'Orbitron', sans-serif;
}

#app {
  background: var(--yellow);
}

li {
  list-style: none;
}

input {
  outline: none;
  border: var(--white);
}
