.general-layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 80px;
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
}

.general-layout header {
  grid-area: header;
}

.general-layout main {
  grid-area: main;
}

.general-layout footer {
  grid-area: footer;
}
